.about{
    width: 100%;
    height: 610px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 230px;
    flex-direction: column;
}

.about-main{
    width: 95%;
    height: 500px;
    border-radius: 10px;
    background-color: #0B9F51; 
    display: flex;
    justify-content: space-between;
}


/* About Content */

.about-contentmain{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.about-content{
    width: 500px;
}

.about-title{
    font-family: "Poppins", serif;
    font-size: 50px;
    color: white;
    animation: moveright 1s linear 1;
    text-shadow: 2px 2px 5px #333;
}

@keyframes moveright{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    50%{
        transform: translateY(50px);
        opacity: 0.8;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.about-desc1{
    text-align: start;
    font-size:17px;
    font-family: "Poppins", serif;
    color: white;
    text-shadow: 2px 2px 5px #333;
    animation: moveleft 1s linear 1;
}

@keyframes moveleft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.about-desc2{
    text-align: start;
    font-size:17px;
    font-family: "Poppins", serif;
    color: white;
    text-shadow: 2px 2px 5px #333;
    animation: moveright 1s linear 1;
}

@keyframes moveright{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.slogan {
    font-family: "Poppins", serif;
    font-weight: bold;
    display: inline-block;
    animation: bounce 1s linear infinite;
}

@keyframes bounce {
    0% {
       color: gold;
       transform: scale(1);
       opacity: 0;
    }
    50% {
        color: gold;
       transform: scale(1.5);
    }
    100% {
       color: gold;
       transform: scale(1);
    }
}




/* About Images and its Containers  */

.aboutimg1-container{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border-bottom: 0px;
    border-right: 0px;
    border-bottom-right-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 0px 10px #333;
    animation: fadein 1s linear 1;
 
}

.aboutimg1{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border-bottom-right-radius: 100%;
    animation: fadein 1s linear 1;
}


.aboutimg2-container{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border-bottom: 0px;
    border-right: 0px;
    border-top-left-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 0px 10px #333;
    animation: fadein 1s linear 1;
}

.aboutimg2{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border-top-left-radius: 100%;
    animation: fadein 1s linear 1;
}


@keyframes fadein{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}




/* Media Query */

/* Normal Mobile */

@media  (max-width: 430px){
    
    .about{
        margin-top: 330px;
        margin-bottom: 200px;
    }

    .about-main{
        flex-direction: column;
        height: auto;
        /* overflow-y: hidden; */
    }

    .aboutimg1-container,.aboutimg1{
        display: none;
    }

    .about-title{
        font-size: 30px;
    }

    .about-content{
        width: 300px;
    }

    .about-desc1, .about-desc2 {
        font-size: 15px;
    }

    .slogan{
        font-size: 12px;
    }

    .aboutimg2-container{
        width: 100%;
        height: 400px;
        margin-top: 30px;
        border-radius: 0px;
        box-shadow: 2px -2px 10px black;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .aboutimg2{
        width: 100%;
        height: 400px;
        border-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
}




/* Pixel */

@media only screen and (min-width: 440px) and (max-width: 500px){
    .about{
        margin-top: 330px;
        margin-bottom: 200px;
        
    }

    .about-main{
        flex-direction: column;
        height: auto;
    }

    .aboutimg1-container,.aboutimg1{
        display: none;
    }

    .about-title{
        font-size: 30px;
    }

    .about-content{
        width: 300px;
    }

    .about-desc1, .about-desc2 {
        font-size: 15px;
    }

    .slogan{
        font-size: 12px;
    }

    .aboutimg2-container{
        width: 100%;
        height: 400px;
        margin-top: 30px;
        border-radius: 0px;
        box-shadow: 2px -2px 10px black;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .aboutimg2{
        width: 100%;
        height: 400px;
        border-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}


/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px){

    .aboutimg1-container,.aboutimg1{
        display: none;
    }

    .about-content{
        width: 400px;
        margin-left: 20px;
    }

    .about-title{
        font-size: 30px;
    }

    .about-desc1, .about-desc2 {
        font-size: 15px;
    }

    .aboutimg2-container{
        width: 350px;
        height: 500px;
        /* margin-top: 100px; */

    }
    
    .aboutimg2{
        width: 350px;
        height: 500px;
    }

}













/* -------------------------- */
/* Stall Coming Soon Section */
/* -------------------------- */

.stall-coming-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  margin-top: 40px;
}

.stall-coming-box {
  background: #fff;
  border-radius: 12px;
  padding: 25px 20px;
  max-width: 700px;
  width: 100%;
  text-align: center;
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  animation: fadeInUp 0.5s ease;
}

.stall-emoji {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.stall-text {
  font-size: 18px;
  color: #444;
  margin-bottom: 12px;
}

.stall-text strong {
  color: #e63946;
}

.stall-tags {
  font-size: 14px;
  font-weight: 600;
  color: #555;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .stall-coming-box {
    padding: 20px 16px;
  }

  .stall-text {
    font-size: 16px;
  }

  .stall-emoji {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .stall-text {
    font-size: 15px;
  }

  .stall-emoji {
    font-size: 16px;
  }

  .stall-tags {
    font-size: 13px;
  }
}
